.cookie-bar{
	min-height: 35px;
	font-size: 12px ;
	padding: 8px 30px ;
	color: white ;
	background: rgba(255, 99, 91, .95);
	border-bottom: solid 1px white;
	box-shadow: 0 1px 10px rgba(0,0,0,.25);
	top: 0 ;
	z-index: 15000 ;
	margin-top: 0 ; 
	font-family: sans-serif ;
	transition: all 255ms ;
	box-sizing: border-box ;
}

.cookie-bar.cfixed{
	position: fixed ;
	width: 100% ;
}

.cookie-bar.disappear{
	position: fixed ;
	margin-top: -100px;
	opacity: 0 ;
}

.cookie-bar a{
	color: white ;
	font-weight: bold ;
	border-bottom: 1px solid white ;
	text-decoration: none ;
	transition: all 255ms ;
}

.cookie-bar a:hover{
	color: #4169E1 ;
	font-weight: bold ;
	border-bottom: 1px dotted #4169E1 ;
}

.cookie-bar div.cookie-bar-content{
	float: left ;
	max-width: 90% ;
	padding-top: 3px ;
}

.cookie-bar > i{
	float: right ;
	transition: all 255ms;
	cursor: pointer;
	font-size: 16px ;
}

.cookie-bar i:hover{
	color: black ;
}

@media (max-width: 768px){
	.cookie-bar .cookie-bar-content a:before { 
		content: 'hiddentext'; 
		font-size:0; 
		display:block; 
		line-height:0; 
	}

	.cookie-bar > i{
		font-size: 26px ;
	}

	.cookie-bar{
		font-size: 14px ;
		line-height: 18px ;
	}
}